.FAQ-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    transition: all 0.3s ease-in-out;
}

.FAQ-section .section-header {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
}

.FAQ-section .section-header .section-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-title h2 {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
}

.FAQ-section .section-header .section-title p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    max-width: 600px;
}

.section-button {
    border-radius: 8px;
    background: var(--Red-45, #e50000);
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    height: fit-content;
}

.FAQ-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.FAQ-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    padding: 16px 16px 36px 16px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.FAQ-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        rgba(229, 0, 0, 0) 0%,
        #e50000 16.67%,
        rgba(229, 0, 0, 0) 100%
    );
}

.FAQ-card:nth-last-child(-n + 2)::after {
    display: none;
}

.FAQ-card .item-number {
    padding: 3px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 10px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-12, #1f1f1f);
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.FAQ-card .item-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.FAQ-card .item-text h2 {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
}

.FAQ-card .item-text p {
    animation: fadeIn 0.3s ease-in;
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.FAQ-card .item-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.line {
    max-width: 900px;
    height: 1px;
    background: linear-gradient(
        90deg,
        rgba(229, 0, 0, 0) 0%,
        #e50000 16.67%,
        rgba(229, 0, 0, 0) 100%
    );
}

@media (max-width: 768px) {
    .FAQ-items {
        grid-template-columns: 1fr;
    }

    .FAQ-section .section-header {
        flex-direction: column;
        gap: 30px;
    }

    .section-button {
        align-self: flex-start;
    }

    .FAQ-card {
        padding: 16px 12px 30px 12px;
    }

    .FAQ-card .item-number {
        padding: 15px;
        min-width: 50px;
        min-height: 50px;
        font-size: 18px;
    }

    .FAQ-card .item-text h2 {
        font-size: 18px;
    }

    .FAQ-card .item-text p {
        font-size: 16px;
    }
}
