.release-year-header {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.movie-release-year {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.release-year-header p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.movie-release-year h6 {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}

.Available-Language {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.Available-Language .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.Available-Language .title h6 {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.Language-support {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
}
.language {
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);

    padding: 8px 14px;
}
.language p {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.Ratings {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.ratingTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.ratingTitle p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.rating-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.rating-box {
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
    padding: 20px;
}
.rating-box-title p {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}
.star-count {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}
.star-rate {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.rate-count p {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}
.genre {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.genre-title {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}
.genre-title p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.genre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.genre-box {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
}
.genre-box p {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.director-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.director-header p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.director-info {
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
    padding: 14px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.director-avatar {
    width: 7vh;
    height: 7vh;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/director.png);
}
.director-name h6 {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.director-name p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
