.movie-release-year {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.movie-release-year .release-year-header {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.movie-release-year .release-year-header p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.movie-release-year h6 {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}

.Available-Language {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.Available-Language .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.Available-Language .title h6 {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.Available-Language .Language-support {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
}

.Available-Language .Language-support .language {
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
    padding: 8px 14px;
}

.Available-Language .Language-support .language p {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.Available-Language .Ratings {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.Available-Language .Ratings .ratingTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.Available-Language .Ratings .ratingTitle p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.Available-Language .Ratings .rating-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.Available-Language .Ratings .rating-container .rating-box {
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
    padding: 20px;
}

.Available-Language .Ratings .rating-container .rating-box .rating-box-title p {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}

.Available-Language .Ratings .rating-container .rating-box .star-count {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.Available-Language
    .Ratings
    .rating-container
    .rating-box
    .star-count
    .star-rate {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.Available-Language
    .Ratings
    .rating-container
    .rating-box
    .star-count
    .rate-count
    p {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

.Available-Language .genre {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.Available-Language .genre .genre-title {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.Available-Language .genre .genre-title p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.Available-Language .genre .genre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.Available-Language .genre .genre-container .genre-box {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
}

.Available-Language .genre .genre-container .genre-box p {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.director-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.director-container .director-header p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.director-container .director-info {
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.director-container .director-info .director-avatar {
    width: 7vh;
    height: 7vh;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/director.png);
}

.director-container .director-info .director-name h6 {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.director-container .director-info .director-name p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
